@use '../base/globals' as *;

.priority--cta {
    padding: .5rem 1rem;
    background-color: var(--clr-white);
    border-radius: var(--br-cta);
    
    &:hover {
        transition: var(--transition);
        background-color: var(--clr-very-light-red);
        color: var(--clr-white);
    }
}
.header--cta {
    a:not(.priority--cta){
        padding: .5rem 1rem;
        border: 1px solid var(--clr-white);
        border-radius: var(--br-cta);
        
        &:hover {
            transition: var(--transition);
            background-color: var(--clr-white);
            color: var(--clr-light-red);
        }
    }
}
.topnav--toggle {
    // background: none;
    // border: none;
    // padding: 0;

    &:hover {
        cursor: pointer;
    }
}

// =======Desktop View=======
@media (min-width: 768px) {
    .topnav--toggle {
        display: none;
    }
}