.dropdown .trigger {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    position: relative;
    cursor: pointer;
}
.dropdown .trigger::after {
    content: '>';
    display: inline-block;
    position: absolute;
    right: 15px;
    transform: rotate(90deg) scale(0.5, 1);
    font-weight: bold;
    transition: transform 0.3s;
}
.dropdown .trigger.active::after {
    transform: rotate(-90deg) scale(0.5, 1);
}
.dropdown .content {
    display: none;
}
.dropdown .content.active {
    display: block;
}

navbutton {
    // background-color: lawngreen;
    padding: 11px 25px;
    width: 100px;
    text-align: center;
    display: inline-block;
    position: relative;
}
/* This turns the dropdown-box of when not being used */
.dropdown-box {
    display: none;
    position: absolute;
    padding-top: 20px;
    margin-left: -27px;
}
/* This turns the drop down on during clicks */
.navbutton.open {
    a {
        &::after {
            transform: rotateZ(90Deg);
        }
    }
    .dropdown-box {
        display: block;
    }
}
.dropdown-box .navbutton {
    color: var(--clr-dark-blue);
    background-color: var(--clr-white);
}
.dropdown-box .navbutton:hover {
    color: var(--clr-dark-blue);
    transition-duration: 0.5s;
}