.dropdown {

    &.open {
        text-decoration: underline;
    }
    &:hover {
        text-decoration: underline;
    }
}
/* This turns the dropdown-box of when not being used */
.dropdown-box {
    display: none;
    position: absolute;
    padding-top: 20px;
    margin-left: -27px;
}
/* This turns the drop down on during clicks */
.navbutton.open {
    a {
        &::after {
            transition: var(--transition);
            transform: rotateZ(180Deg) !important;
        }
    }
    .dropdown-box {
        display: block;
    }
}
.dropdown-box .navbutton {
    color: var(--clr-dark-blue);
    background-color: var(--clr-white);
}
.dropdown-box .navbutton:hover {
    color: var(--clr-dark-blue);
    transition-duration: 0.5s;
}