@use '../base/globals' as *;

header {
    padding: 1rem 2rem 0 2rem;;
    background-color: red;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-large);
    
    .nav--items {
        display: flex;
        flex: 2;
        flex-direction: row;
        justify-content: space-between;
        
        .call-to-action {
            align-self: flex-end;
            gap: var(--gap-large);
            
            a {
                margin-left: 8px;
            }
        }
    }
    .nav--headings {
        display: flex;
        flex-direction: row;
        gap: var(--gap-large);

        div::after {
            content: url(../assets/images/icon-arrow-light.svg);
            display: inline-block;
            width: auto;
            margin-left: 8px;
        }
    }
}