@use '../base/globals' as *;

header {
    padding: var(--gap-medium) var(--gap-v-large);
    border-bottom-left-radius: var(--br-section);
    background-color: var(--clr-light-red);
    background-image: url(../assets/images/bg-pattern-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    p {
        padding-bottom: var(--gap-large);
    }
    .header--cta {
        padding-bottom: var(--gap-large);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--gap-small);
    }
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-large);
    
    .nav--items {
        display: flex;
        flex: 2;
        flex-direction: row;
        justify-content: space-between;
        
        .call-to-action {
            align-self: flex-end;
            gap: var(--gap-large);
            
            a {
                margin-left: 8px;
            }
        }
    }
    .nav--headings {
        display: flex;
        flex-direction: row;
        gap: var(--gap-large);

        div::after {
            content: url(../assets/images/icon-arrow-light.svg);
            display: inline-block;
            width: auto;
            margin-left: 8px;
        }
    }
}
main {
    section {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        padding-left: var(--gap-v-large);
        gap: var(--gap-small);

        img {
            flex: 1;
            width: 250px;
            aspect-ratio: 1;
        }
        div {
            flex: 1;
        }

        &:is(.reverse){
            padding-inline: var(--gap-v-large);
            flex-direction: row;
            background-image: var(--gradient-2);
            border-top-right-radius: var(--br-section);
            border-bottom-left-radius: var(--br-section);
        }
    }
}