@use './globals' as *;

h1 {
    font-size: var(--fs-h1);
    font-family: var(--ff-main);
    font-weight: var(--fw-main-medium);
    text-align: center;
    padding-top: 2rem;
    color: var(--clr-white);
}
p {
    font-family: var(--ff-body);
    font-size: var(--fs-p);
    color: var(--clr-white);
    text-align: center;
    padding-top: 1rem;
}
.nav--headings {
    font-family: var(--ff-body);
    font-size: var(--fs-p);
    color: var(--clr-white);

    div{
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}
a {
    font-family: var(--ff-body);
    font-weight: var(--fw-body-medium);
    text-decoration: none;
    color: var(--clr-white);
}
.priority--cta {
    color: var(--clr-light-red);
}