@use './globals' as *;

h1 {
    font-size: var(--fs-h1);
    font-family: var(--ff-main);
    font-weight: var(--fw-main-light);
    text-align: center;
    padding-top: var(--gap-v-large);
    color: var(--clr-white);
}
h2 {
    font-size: var(--fs-h2);
    font-family: var(--ff-main);
    font-weight: var(--fw-body-medium);
    text-align: center;
    padding-top: var(--gap-v-large);
    color: var(--clr-dark-blue);
}
h3 {
    font-size: var(--fs-h3);
    font-family: var(--ff-main);
    font-weight: var(--fw-body-medium);
    text-align: center;
    padding-top: var(--gap-v-large);
    color: var(--clr-dark-blue);
}
p {
    font-family: var(--ff-body);
    font-size: var(--fs-p);
    color: var(--clr-white);
    text-align: center;
    padding-top: var(--gap-small);
}
.header--cta{
    a{
        font-family: var(--ff-body);
        font-size: calc( var(--fs-p) * 0.8);
        text-wrap: nowrap;
        text-align: center;
    }
    .priority--cta {
        color: var(--clr-light-red);
    }
}
main{ 
    p {
    color: var(--clr-dark-blue);
    line-height: 1.32rem;
    }
    .herobox--2 {
        h2, p{
            color: var(--clr-white);
        }
    }
    
}
.nav--headings {
    font-family: var(--ff-body);
    font-size: var(--fs-p);
    color: var(--clr-dark-blue);
    
    .navbutton {
        a:hover {
            transition: var(--transition);
            cursor: pointer;
            text-decoration: underline;
        }
    }
}
.nav--items {
    .call-to-action {
        a {
            color: var(--clr-dark-blue);
        }
        .priority--cta {
            color: var(--clr-white);
        }
    }
}
a {
    font-family: var(--ff-body);
    font-weight: var(--fw-body-medium);
    text-decoration: none;
    color: var(--clr-white);
}
.dropdown-box .navbutton a{
    color: var(--clr-dark-blue);

    &:hover {
        text-decoration: none;
        font-weight: var(--fw-body-heavy);
    }
}
footer {
    color: var(--clr-grayish-blue);
    
    h3{
        color: var(--clr-white);
    }
    .footer--wrapper{
        section {
            ul {
                li{
                    font-family: var(--ff-body);
                    font-weight: var(--fw-body-medium);
                    text-decoration: none;
                    color: var(--clr-grayish-blue);

                   &:hover {
                        transition: var(--transition);
                        cursor: pointer;
                        text-decoration: underline;
                    } 
                }
            }
        }
    }
    .attribution {
        a {
            &:hover {
             transition: var(--transition);
             cursor: pointer;
             text-decoration: underline;
            } 

        }
    }
}

@media (min-width: 768px) {
    header {
        p {
        text-align: center;
        }
    }
    .nav--headings {
        color: var(--clr-white);
    }
    .nav--items {
        .call-to-action {
            a {
                color: var(--clr-white);
            }
            .priority--cta {
                color: var(--clr-light-red);

                &:hover {
                    color: var(--clr-white);
                }
            }
        }
    }
    .herobox--2 {
        h2 {
            text-align: left;
        }
    }
    h3 {
        text-align: left;
    }
    p {
        text-align: left;
    }
}